html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

html {
/*
  background: url(images/bg_5.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
*/
  background: #1d292c;
}

h2 {
  font-family: "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #e9f6f9;
  font-weight: 100;
  font-size: 73px;
  line-height: 84px;
  margin-bottom: 26px;
  -webkit-margin-before: 0px;
  padding-top: 70px;
}

p {
  font-family: "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #3F5054;
  font-weight: 300;
  font-size: 17px;
  margin: 0px;
  margin-bottom: 58px;
}

b{
  font-weight: 500;
}

a {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 73px;
  font-weight: 300;
  color: #4abfdb;
  text-decoration: none;
  border-bottom: 1px solid rgba(83, 167, 187, 0.3);
  -webkit-transition: border-bottom 0.3s ease-out, color 0.3s ease-out;
      -moz-transition: color 0.3s ease-out;
        -o-transition: color 0.3s ease-out;
           transition: border-bottom 0.3s ease-out, color 0.3s ease-out;
}

a:hover {
  border-bottom: 1px solid rgba(83, 167, 187, 1);
}

#content {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: -78px;
  min-height: 100%;
}

#content:after {
  content: "";
  display: block;
  height: 78px;
}

#bottom {
  max-width: 960px;
  bottom: 0;
  height: 78px;
  margin: 0px auto;
}

@media screen and (max-width: 959px) {
  h2 {
    font-size: 56px;
    line-height: 60px;
  }

  #content {
    padding: 0px 60px;
  }

  #bottom {
    padding: 0px 60px;
  }

  a {
    font-size: 56px;
    line-height:60px;
  }
}

@media screen and (max-width: 320px) {
  #content {
    margin-bottom: -50px;
  }

  #content, #bottom {
    padding: 0px 30px;
  }

  #bottom {
    height: auto;
  }

  h2 {
    font-size: 32px;
    line-height: 34px;
    margin: 0px;
    padding-top: 30px;
  }

  a {
    font-size: 32px;
  }

  b {
    font-weight: bold;
  }

  p {
    margin: 0px;
  }
}

@media screen and (max-width: 480px) and (orientation : landscape) {
  #content {
    margin-bottom: -44px;
  }

  #content:after {
    height: 50px;
  }

  #content, #bottom {
    padding: 0px 20px;
  }

  #bottom {
    height: auto;
  }

  h2 {
    font-size: 20px;
    line-height: 22px;
    padding-top: 24px;
  }

  a {
    font-size: 20px;
  }

  p {
    font-size: 12px;
  }

}
