*, *::after, *::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  font-family: 'AdobeGaramondW01-Regula';
  background: #DDDDE2;
}

.small {
  display: none;
}

.clearfix {
  display: table;
}

.clearfix::after {
  clear: both;
}

body {
  background: #EFEFF1;
}

.body.featured {
  border-top: 1px solid rgba(221,221,226, 0.8);
  background: #EFEFF1;
  overflow: hidden;
}

h1 {
  color: #6362BF;
  font-size: 34px;
  letter-spacing: 4px;
  line-height: 84px;
  margin-bottom: 0px;
  -webkit-margin-before: 0px;
  padding-top: 64px;
  font-weight: bold;
  line-height: 75px;
  font-family: 'AdobeGaramondW01-Regula';
}

h3 {
  font-size: 12px;
  color: #6362BF;
  margin-bottom: 5px;
}

h4 {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9393A0;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

p {
  color: #4B4B4B;
  font-weight: 400;
  font-size: 21px;
  padding-bottom: 20px;
  margin: 0;
  line-height: 22px;
}

p.title {
  font-size: 40px;
  padding-top: 42px;
  padding-bottom: 26px;
  font-weight: 700;
}

a.link {
  color: #6362BF;
  font-size: 22px;
  font-weight: 700;
  border-bottom: 1px solid rgba(99,98,191,0.15);
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}

a.link:hover {
  border-bottom: 1px solid rgba(99,98,191,1);
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
}

.space {
  padding-top: 14px;
  padding-bottom: 50px;
}

.role {
  font-size: 17px;
  padding-bottom: 0px;
}

.role a {
  color: #4B4B4B;
}

.role a span {
  opacity: 0.25;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}

.role a:hover span {
  opacity: 1;
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
}

a {
  text-decoration: none;
}

.col-6 {
  width: 50%;
}

.pull-left {
  float: left;
}

.content {
  width: 100%;
}

.clients {
  width: 100%;
  height: 380px;
  background-color: #DDDDE2;
}

.clients h4 {
  padding-top: 132px;
}

.body {
  position: relative;
  z-index: 2;
  padding-bottom: 80px;
  display: none;
}

.under {
  position: absolute;
  width: 100%;
}

.rings {
  right: -204px;
  width: 800px;
  top: -140px;
  position: absolute;
  z-index: 1;
}

.phone {
  position: absolute;
  top: -40px;
  right: 24px;
  z-index: 4;
}

.main {
  min-height: 100%;
  background: #DDDDE2;
}

.main:after {
  content: '';
}

.header {
  background: #EFEFF1;
  position: relative;
  z-index: 3;
  position: absolute;
  height: 100%;
  top: 0px;
}

#forms {
  background-image: url('images/forms.png');
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}

#spacer {
  width: 100%;
  height: 154px;
  background: #fff;
}

header {
  width: 100%;
  position: relative;
  padding-top: 23%;
}

.w960 {
  width: 960px;
  margin: 0px auto;
  position: relative;
}

#content:after {
  content: "";
  display: block;
  height: 78px;
}

.bottom-phone {
  background-image: url('images/phone.png');
  background-position-y: -693px;
  height: 37px;
  background-repeat: no-repeat;
  left: 594px;
  position: relative;
  width: 336px;
}

.after {
  padding-left: 30px;
}

.bottom {
  background: #fff;
  position: relative;
  z-index: 2;
}

#bottom {
  max-width: 960px;
  bottom: 0;
  height: 100px;
  margin: 0px auto;
}

.name {
  float: left;
}

.description {
  font-size: 21px;
  position: absolute;
  bottom: 17px;
  font-weight: 400;
  right: 0px;
}

a.bottom {
  font-size: 21px;
}

a.contact {
  opacity: 0;
  color: #6362BF;
  font-family: 'Adobe Garamond W01 SmBd';
  border-bottom: 1px solid rgba(99,98,191,0.3);
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}

a.contact:hover {
  border-bottom: 1px solid rgba(99,98,191,1);
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
}

a.cloak-link {
  color: #35C284 !important;
  border-color: rgba(53,194,132, 0.3) !important;
}

a.cloak-link:hover {
  border-color: rgba(53,194,132, 1) !important;
}

@media screen and (max-width: 959px) {
  h2 {
    font-size: 56px;
    line-height: 60px;
  }

  #content {
    padding: 0px 60px;
  }

  #bottom {
    padding: 0px 60px;
  }

}

@media screen and (max-width: 320px) {
  #content {
    margin-bottom: -50px;
  }

  #content, #bottom {
    padding: 0px 30px;
  }

  #bottom {
    height: auto;
  }

  h2 {
    font-size: 32px;
    line-height: 34px;
    margin: 0px;
    padding-top: 30px;
  }

  a {
    font-size: 32px;
    letter-spacing: 0px;
  }

  b {
    font-weight: bold;
  }

  p {
    margin: 0px;
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) and (orientation : landscape) {
  #content {
    margin-bottom: -44px;
  }

  #content:after {
    height: 50px;
  }

  #content, #bottom {
    padding: 0px 20px;
  }

  #bottom {
    height: auto;
  }

  h2 {
    font-size: 20px;
    line-height: 22px;
    padding-top: 24px;
  }

  a {
    font-size: 20px;
    letter-spacing: 0px;
  }

  p {
    font-size: 12px;
  }

}

@media screen and (max-device-width: 1024px) {
  .w960 {
     width: 100%;
     max-width: 960px;
  }
  .header {
    height: auto;
    position: relative;
  }

  .space {
    display: none;
  }

  header {
    padding-top: 0px;
    padding-bottom: 14px;
  }

  #spacer {
    display: none;
  }

  .description {
    position: static;
    margin: 0px;
    font-size: 14px;
  }

  a.contact {
    opacity: 1;
    font-size: 14px;
  }

  .body {
    display: block;
    padding-bottom: 20px;
  }

  .name, .description {
    float: none;
  }

  .phone {
    width: 200px;
    top: 30px;
    right: 114px;
  }
}


@media screen and (max-width: 768px) {
  #forms {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: -720px;
    left: 150px;
    overflow: hidden;
  }
  .bottom-phone { 
    display: none;
  }
  #header, .body.featured, .clients {
    padding: 0 30px;
    overflow: hidden;
  }
  h4.featured {
    padding-top: 40px;
  }
  h3.description {
    padding-bottom: 70px;
    font-size: 19px;
  }
  h3.description a {
    font-size: 19px;
  }
  .content.body .col-6.pull-left {
    padding-bottom: 40px;
  }
  .phone {
    top: 82px;
    right: 70px;
  }
  .rings {
    top: -110px;
    right: -230px;
  }
}

@media screen and (max-device-width: 400px) {
  .w960 {
     width: 100%;
     max-width: 960px;
  }

  .bottom-phone { 
    display: none;
  }

  #forms {
    background-size: cover;
    width: 500px;
    height: 700px;
    position: absolute;
    top: -480px;
    left:50px;
  }

  .header {
    height: auto;
    position: relative;
  }

  .content {
    padding: 0px 15px;
  }

  .space {
    display: none;
  }

  .header {
    padding-top: 0px;
    padding-bottom: 50px;
  }

  h1 {
    font-size: 26px;
    padding-top: 0px;
  }

  .name, .description {
    float: none;
  }

  .name {
    margin-top: 70px;
  }

  .main .title {
    font-size: 34px;
  }

  .description {
    position: static;
    margin: 0px;
    font-size: 19px;
    margin-bottom: 16px;
  }

  a.contact {
    opacity: 1;
    font-size: 19px;
    margin-bottom:30px
  }

  #spacer {
    display: none;
  }

  .body {
    display: block;
    padding-bottom: 20px;
  }

  .body.featured {
    padding-bottom: 80px;
  }

  .col-6 {
    width: 100%;
  }

  .pull-left {
    float: none;
  }

  .rings, .phone {
    display: none;
  }

  .role a {
    font-size: 18px;
    line-height: 24px;
  }

  .roles, .press {
    margin-top: 40px;
  }

  .big { display: none; }
  .small { display: inline-block; }
}
