*, *::after, *::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.clearfix {
  display: table;
}

.clearfix::after {
  clear: both;
}

body {
  background: #EAEAEA;
  color: white;
}

.row {
  width: 100%;
  display: inline-block;
}

.row.seeme {
  background-color: #35C284;
}

.w960 {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.copy {
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.col-4 {
  width: 43%;
  display: table;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

@media screen and (max-width: 320px) {
}

@media screen and (max-width: 480px) and (orientation : landscape) {
}
}
