*, *::after, *::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  background-color: #E7E7F4;
}

.clearfix {
  display: table;
}

.clearfix::after {
  clear: both;
}

.col-6 {
  width: 49%;
  display: table;
}

.col-3 {
  width: 33%;
  display: table;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

a, p {
  color: #6362BF;
}

a.recent-work {
  padding: 5px 9px 6px 8px;
  background-color: #6362BF;
  color: #E7E7F4;
  text-decoration: none;
  border-radius: 2px;
}

a.recent-work:hover {
  text-decoration: underline;
}

a.clients {
  text-decoration: none;
}

a.clients:hover {
  text-decoration: underline;
}

.footer p {
  opacity: 0.8;
  font-size: 0.8em;
}

h1 {
  font-weight: 300;
  font-size: 1.8em;
  margin-bottom: 1.5em;
  color: #6362BF;
}

h2 {
  font-weight: 300;
  font-size: 1.4em;
  margin-bottom: 4.2em;
  color: #6362BF;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

h4 {
  font-weight: 700;
  font-size: 0.8em;
  color: #6362BF;
}

#content-wrapper {
	max-width: 1000px;
  padding: 4% 8% 4% 8%;
  margin: 0 auto;
}

.header {
  padding-bottom: 8%;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  h2 {
    font-size: 1.08em;
  }
}



