html, body {
  background-color: #000;
}

#content-wrapper {
  max-width: 1190px;
  padding-bottom: 0%;
}

h1 {
  margin-bottom: 0;
  color: #E7E7F4;
}

h1 a {
  color: #E7E7F4;
}

h4 {
  margin-top: 1em;
  color: #E7E7F4;
}

p {
  font-weight: 400;
  font-size: 1.4em;
  color: #E7E7F4;
}

h2 {
  font-weight: 400;
  color: #E7E7F4;
  display: inline-block;
}

h1:first-child {
  margin-top: 0px;
}

h2.nobodys-name {
  float: right;
  font-weight: 200;
  color: #6362BF;
  margin-top: 17px;
}

h2.nobodys-name a {
  text-decoration: none;
}

.project {
  margin-bottom: 12em;
}

.project img {
  max-width: 100%;
}

p a {
  color: #E7E7F4;
}

.project-head {
  margin-bottom: 2em;
}

.footer p {
  color: #6362BF;
  padding-top: 130px;
}

.footer {
  background-image: url(images/footer.png);
  background-size: cover;
  height: 462px;
  width: 100%;
  background-position: center center;
  display: block;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  h2.nobodys-name {
    margin-top: 0.698em;
  }
  .footer p {
    padding-top: 60px;
  }
}